# This files holds the id for sending the weather datas
# to the Openwheathermap and wundergroud services.
# Copy this file into config.env and edit accordingly.

# Put your OpenWeatherMap api key and station ID here
OWM_API_KEY=""
OWM_STATION_ID=""

# Put your wundergroud password and station name here
WUNDER_PASSWORD=""
WUNDER_STATION_ID=""

# Put your longitude and latitude here
LAT=
LON=

